<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">Send message to subscribers</div>

          <div class="panel-body">
            <div v-if="success" class="alert alert-success">Your message was successfully sent!</div>
            <div v-if="error" class="alert alert-danger">There was an error during your message send!</div>

            <form>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea name="message" id="message" cols="30" rows="10" class="form-control"
                          placeholder="Your message for subscribers" v-model="message"></textarea>
              </div>

              <input type="submit" value="Send" class="btn btn-primary" @click.prevent="send"
                     :disabled="!message.length">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    props: {
      subscribersIds: {
        type: Array,
        default: [],
      },
    },
    data: () => ({
      message: '',
      success: false,
      error: false,
    }),
    methods: {
      send() {
        this.success = false
        this.error = false

        axios
          .post('/messages', {
            message: this.message,
            subscribers_ids: this.subscribersIds,
          })
          .then(response => {
            this.success = true

            this.$emit('message-was-sent')
          })
          .catch(error => {
            this.error = true
            console.error(error)
          })
      },
    },
  }
</script>
