<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">Telegram subscribers [{{ total }}]</div>

            <div class="panel-body">
              <div v-if="error" class="alert alert-danger">There was an error: {{ error }}</div>

              <ul>
                <li v-for="subscriber in subscribers" :key="subscriber.id">
                  <input type="checkbox" :value="selected[subscriber.telegram_id]"
                         :checked="selected[subscriber.telegram_id]"
                         @click="toggleSelected(subscriber.telegram_id)">
                  {{ subscriber.telegram_username }} [{{ subscriber.telegram_id }}]
                </li>
              </ul>

              <pagination :data="paginationData" v-on:pagination-change-page="fetchSubscribers" :limit="3"></pagination>

              <div>
                <button class="btn btn-primary" :disabled="noOneIsSelected" @click="toggleSendMessageForm">
                  Send Message To Selected [{{ selectedAmount }}]
                </button>
                <button class="btn btn-danger" :disabled="noOneIsSelected" @click="deleteSelected">
                  Delete Selected [{{ selectedAmount }}]
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <send-message-form v-if="showSendMessageForm" :subscribersIds="selectedIds"
                       v-on:message-was-sent="onMessageWasSent"></send-message-form>
  </div>
</template>

<script>
  import axios from 'axios'
  import {createNamespacedHelpers} from 'vuex'
  import {
    CLEAR_ERROR, CLEAR_SELECTED, SET_CURRENT_PAGE, SET_ERROR, SET_PAGINATION_DATA, SET_SUBSCRIBERS, SET_TOTAL,
    TOGGLE_SUBSCRIBER,
  } from '../store/mutation-types'

  const {mapState, mapGetters} = createNamespacedHelpers('subscribers')

  export default {
    data: () => ({
      showSendMessageForm: false,
    }),
    computed: {
      ...mapState([
        'subscribers',
        'paginationData',
        'total',
        'error',
        'selected',
        'currentPage',
      ]),
      ...mapGetters([
        'selectedIds',
        'selectedAmount',
        'noOneIsSelected',
      ]),
    },
    mounted() {
      this.fetchSubscribers()
    },
    methods: {
      fetchSubscribers(page = 1) {
        this.$store.commit(`subscribers/${CLEAR_ERROR}`)
        this.$store.commit(`subscribers/${SET_CURRENT_PAGE}`, page)

        axios
          .get(`/subscribers?page=${page}`)
          .then(response => {
            this.$store.commit(`subscribers/${SET_SUBSCRIBERS}`, response.data.data)
            this.$store.commit(`subscribers/${SET_PAGINATION_DATA}`, response.data)
            this.$store.commit(`subscribers/${SET_TOTAL}`, response.data.total)
          })
          .catch(error => {
            this.$store.commit(`subscribers/${SET_ERROR}`, error.message)
            console.error(error)
          })
      },
      toggleSelected(telegramId) {
        this.$store.commit(`subscribers/${TOGGLE_SUBSCRIBER}`, telegramId)
      },
      deleteSelected() {
        axios
          .delete('/subscribers/batch-delete', {
            params: {
              subscribers_ids: this.selectedIds,
            },
          })
          .then(response => {
            this.showSendMessageForm = false
            this.$store.commit(`subscribers/${CLEAR_SELECTED}`)
            this.fetchSubscribers(this.currentPage)
          })
          .catch(error => {
            this.$store.commit(`subscribers/${SET_ERROR}`, error.message)
            console.error(error)
          })
      },
      onMessageWasSent() {
        this.showSendMessageForm = false
        this.$store.commit(`subscribers/${CLEAR_SELECTED}`)
        this.fetchSubscribers(this.currentPage)
      },
      toggleSendMessageForm() {
        this.showSendMessageForm = !this.showSendMessageForm
      },
    },
  }
</script>

<style scoped>
  ul {
    list-style-type: none;
  }
</style>
